body {
}

.header {
  background: url('http://site.rockbottomgolf.com/blog_images/surfer.jpg');
  background-size: cover;
  background-position: center;
  height: 300px;
}

.bio-image, .carousel-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
}
