@(message: String)

@Main("carissa") {
   <div class="container">
   <div class="row">
   <div class="col-md-4">
        <div class="well">
          <div class="carissa-pic"></div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="well">
        <h1>Carissa Moore</h1>
     <p>2013, Moore is currently leading the 2013 ASP World Tour women's title race (after 3 events). Moore has won 2 ASP World Tour events in 2013, the Drug Aware Margaret River Pro[7] and the Rip Curl Pro Bells Beach.[8]

2012, Moore finished 3rd in the 2012 ASP World Tour, failing to win any ASP World Tour events, coming runner-up in two events.

2011, Moore was declared the ASP Women’s World Champion, the youngest winner of the Title.[9] Throughout the 2011 Tour, Moore won the Billabong Rio Pro,[10] Commonwealth Bank Beachley Classic[11] and the Roxy Pro Gold Coast.[12]

2010, Moore was incepted into the ASP Women’s World Tour. During her first year on the Tour Moore won both the TSB Bank Women’s Surf Festival[13][14] and Rip Curl Pro Portugal.[15] Moore’s 2010 Women’s World Tour Ranking was 3rd overall.[16] and she was awarded the ASP Women’s World Tour Rookie of the Year.[17]

Refer to ASP Wildcard Entries section for further information relating Moore's involvement prior to being incepted into the ASP Women’s World Tour.</p> 
   </div>
   </div>
   </div>
}