@(message: String) @Main("jeff") {
<div class="container">
  <div class="row">
    <div class="col-md-4 pagecontent">
      <div class="well">
        <div class="jeff-img"></div>
      </div>
    </div>
    <div class="col-md-8 pagecontent">
      <div class="well">
        <h1>Jeff Hakman</h1>
        <p>Jeffrey "Jeff" Hakman is an ex-world surfing champion who together with friend Bob McKnight convinced
          Alan Green, the founder of Quiksilver (then a small surf company from Torquay, Australia) to allow them the
          rights to trade the name in America in 1976. Hakman started surfing in 1956 at age eight in Palos Verdes,
          California and at the age of ten moved to Hawaii with his parents. He surfed Waimea Bay at fourteen years old
          and at seventeen won the prestigious surfing title, Duke Kahanamoku Invitational Surfing Championship. Hakman
          graduated from Punahou School in 1967. From twenty-one to twenty-seven he won the most major surfing titles in
          the world including the first Pipe Masters at Banzai Pipeline, 1976 Bells Beach and was the unofficial World
          Champion in 1974 and 1975. In 1976 Jeff founded Quiksilver America with Bob McKnight and in 1984 founded
          Quiksilver Europe with Harry Hodge, Brigitte Darrigrand and John Winship. He is currently the Marketing
          Director for NaPali SA (Quiksilver) in France. He is a 2009 inductee into the Surfers' Hall of Fame in
          Huntington Beach, California.</p>
      </div>
    </div>
  </div>
  }