@(message: String)

@Main("kanoa") {
   <div class="container">
   <div class="row">
   <div class="col-md-4 pagecontent">
    <div class="well">
        <div class="kanoa-img"></div>
        </div>
      </div>
      <div class="col-md-8 pagecontent">
        <div class="well">
        <h1>Kanoa Igarashi</h1>
        <p>Kanoa Igarashi is huge in Japan. Although he was born in Santa Monica, California on October 1, 1997, Igarashi spends time in Japan where he is a celebrity of sorts. With local news coverage and autograph seekers, he gets the full star treatment when visiting family and trying to grab a few hours for surf sessions. Although Japan would love to claim this so-called surfing “prodigy,” Igarashi looks to be leading America’s next generation of surfing world title contenders.
Kanoa Igarashi started surfing at three years old when his dad gave him a few shoves into waves on Huntington Pier’s North Side (a decade and countless surf trips later, he calls the pier’s South Side his favorite wave). He got his first board the same year: a Town and Country “longboard” (or what seemed a longboard to a three year old). Igarashi got his first sponsor when was seven. He was stoked to be part of the Huntington Surf and Sport team. Within a few scant years, Igarashi was winning national events, breaking records, and galvanizing American surf jounos to coin him the next “Slater.” However, no matter how meteoric his climb to local, national, and soon global recognition appeared, the pint sized regular footer kept his focus like a laser by staying obsessed with the sport and art of surfing like only a super stoked pre-teen can.</p>
   </div>
   </div>
   </div>
}
