@(message: String)

@Main("megan") {
   <div class="container">
   <div class="row">
   <div class="col-md-4 pagecontent">
    <div class="well">
        <div class="megan"></div>
        </div>
      </div>
      <div class="col-md-8 pagecontent">
        <div class="well">
          <h1>Megan Abubo</h1>
            <p>Born in Connecticut and raised in Hawaii, Megan Abubo showcases a style honed on powerful reef-breaks and deepwater ocean waves. Growing up in Hawaii, Megan quickly became one of the "beach boys" and worked her way to a spot on the World Championship Tour ranks in 1998. She has been on the WCT ever since and in 2000 she was runner up for the world title. She has had many victories both in and out of the water. In October 2004 Megan won the WCT Rip Curl Malibu Pro and shot from 14th to 9th in the ratings. In 2002, she won the WCT Figueira Pro in Portugal, and in 2001 she won the WCT Roxy Pro in Fiji. Throughout her career she has had 5 other WCT victories.</p>
            <p>Megan joined a handful of the best women surfers in the world on the first all-female boat trip with Transworld Surf to Indonesia in 2004.</p>
        </div>
   </div>
   </div>
}
