@(message: String)

@Main("mick") {
    <div class="container">
   <div class="row">
   <div class="col-md-4">
        <div class="well">
          <div class="mick-pic"></div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="well">
        <h1>Mick Fanning</h1>
     <p>He was also victorious when he took a wild card entry at the Rip Curl Pro at Bells Beach in 2001 winning one of Australia's most acclaimed contests. He finished 2002 as rookie of the year winning the Billabong Pro at Jeffrey's Bay and earning himself a slot on the 2002 tour as the World Qualifying Series' (WQS) Champion.

He suffered a complete hamstring tear in 2004. He had to have it surgically repaired and made an incredible comeback to become one of the greatest surfers on the ASP world tour.[4]

The year 2007 marked Fanning's sixth year on the Foster's Association of Surfing Professionals (ASP) World Tour since 2002 and his ninth year on the ASP WQS since 1998. He began his 2007 World Title campaign (WCT) with a victory at the Quiksilver Pro, the first event on the Foster's ASP World Tour, putting himself on top of the ratings. He won the Santa Catarina Pro in Brazil on 6 November 2007 placing above Taj Burrow and Kelly Slater therefore clinching the 2007 ASP world title.[2] In 2008 he suffered a mid-season groin injury. He slipped to eighth position on the end of year ratings. In 2009, Mick Fanning reclaimed his ASP World Champion crown at the famous Pipeline reef break on Oahu’s North Shore. Although Fanning was knocked out by fellow Australian Dean Morrison in Round 4, his points lead from winning three of the last four events was enough to secure victory.[5]

According to an interview with WideWorld magazine, Fanning's favourite surf spots in Australia include Snapper Rocks on the Gold Coast, Bells Beach in Victoria and Gnarloo in Western Australia</p> 
   </div>
   </div>
   </div>
}
